{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{% include "include/carousel.html.twig" %}

	{# ARTICLE TEMPLATE #}

	{# <h1 id="articles-anchor" class="text-center my-5 text-uppercase">Article récents :</h1> #}

		<div class="container-fluid my-4">
	<div class="row">
		{% for article in articles %}
			<div class="col-lg-3 col-md-6 col-sm-12">
				<div
					class="card mb-3" style="w-100;">
					{# Article Image #}
					<a href="{{ path('app_article_show', {'id': article.id}) }}">
					<img src="{{ asset('uploads/mini/400x400-' ~ article.image) }}" class="card-img-top" alt="...">
					</a>
					<div class="card-body">
						<h5 class="card-title text-uppercase">{{ article.title }}</h5>
						<p class="card-text">{{ article.content }}</p>
						{# User Avatar  #}
						<img src="..\..\..\uploads\{{ article.user.avatar }}" class="" alt="..." width="50" height="50">
						<a class="card-text" href="{{ path('app_admin_user_show', {'id': article.user.id }) }}">Author : {{ article.user.lastname }} {{ article.user.firstname }}</a>
					</p>
					<p class="card-text">Categories:
						{% for category in article.category %}
						<a class="card-text" href="{{ path('app_category_show', {'id': category.id }) }}">{{ category.name }}</a>
							{% if not loop.last %},
							{% endif %}
						{% endfor %}
					</p>
							<a href="{{ path('app_article_show', {'id': article.id}) }}" class="btn btn-primary">Show</a>
						</div>
						<div class="card-footer">
							<small class="text-muted">Written on :
								{{ article.CreatedAt.format('d/m/Y \\a\\t H:i:s:a') }}</small>

						</div>
					</div>
				</div>
			{% else %}
				<p>No records found</p>
			{% endfor %}
		</div>
		<a href="{{ path('app_article_new') }}" class="btn btn-primary">Create new</a>
	</div>


{% endblock %}
