{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
<style>
		.styled-title {
			font-family: 'Poppins', sans-serif;
			font-size: 2.5vw;
			text-align: center;
			font-weight: 900;
			/* background-clip: border-box; */
			/* background-image: url("../uploads/sea.jpg"); */
			/* -webkit-text-fill-color: transparent; */
			/* -webkit-background-clip: text; */
		}
	</style>
	<h1 class="styled-title fit-content py-4">CATEGORY</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>

    <div>
<table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td><img src="{{ asset('uploads/' ~ article.image) }}" class="card-img-top" alt="..."></td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_category_index') }}">back to list</a>

    </div>

{% endblock %}
