{% extends 'base.html.twig' %}

{% block title %}USER PAGE
{% endblock %}

{% block body %}


	<table class="table">
		<tbody>
			<tr>
				<th>Avatar</th>
				<td><img src="{{ asset('uploads/' ~ user.avatar) }}" class="object-fit-scale" alt="User Avatar" style="width: 100px; height: 100px;"></td>
			</tr>
			<tr>
				<th>Lastname</th>
				<td>{{ user.lastname }}</td>
			</tr>
			<tr>
				<th>Firstname</th>
				<td>{{ user.firstname }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ user.email }}</td>
			</tr>

	<table class="table">

			{% for article in articles %}
				<tr>
					<td class="col-2"><img src="{{ asset('uploads/' ~ article.image) }}" class="card-img-top" alt="..."></td>
					<td>{{ article.title }}</td>
					<td class="col">{{ article.content }}</td>
					<td>
						<a href="{{ path('app_article_show', {'id': article.id}) }}">show</a>
					</td>
				</tr>
			{% else %}
	</table>

				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
		
	</table>

	<a href="{{ path('app_admin_user_index') }}">back to list</a>

	<a href="{{ path('app_admin_user_edit', {'id': user.id}) }}">edit</a>

	{{ include('admin_user/_delete_form.html.twig') }}
{% endblock %}
